@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Set HTML and body height to 100% */
html,
body {
  height: 100%;
}

/* custom.css */
.background-image {
  background-image: url('../assets/images/app-bg.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 50%;
  z-index: -1;
  /* Place it behind other content */
  position: fixed;
  /* Make it fixed */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.dark-bg {
  background-color: black;
  z-index: -2;
  /* Place it behind the background image */
  width: 100%;
  height: 100vh;
  position: fixed;
  /* Make it fixed */
  top: 0;
  left: 0;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}